<html>
  <head>
    <title>이미지 매개변수로 보내는 테스트</title>
  </head>
  <body>
    <h1>현재 웹캠</h1>
    <div>
      <video id="video" width="800" height="600" autoplay></video>
      <br>
      <button onclick="captureImage()">캡쳐</button>
    </div>
    <div>
      <br>
      서버에 저장된 이미지는 아래의 리스트를 통해 확인 가능합니다.
    </div>
    <div>
      {% for image in images %}
        <img src="{{ image.image.url }}" width="200" height="150">
      {% endfor %}
    </div>
    <script>
      const video = document.getElementById('video');
      const canvas = document.createElement('canvas');
      const context = canvas.getContext('2d');
      
      navigator.mediaDevices.getUserMedia({ video: true })
        .then(stream => {
          video.srcObject = stream;
        });
      
      function captureImage() {
        canvas.width = video.videoWidth;
        canvas.height = video.videoHeight;
        context.drawImage(video, 0, 0);
        canvas.toBlob(blob => {
          const formData = new FormData();
          formData.append('camera-image', blob);
          fetch('/test/', {
            method: 'POST',
            body: formData
          });
        });
      }
    </script>
  </body>
</html>