<!DOCTYPE html>
<html>
<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>F4 - 의약품 정보검색</title>

  <!-- slider stylesheet -->
  <link href="{{ url_for('static', path='./css/style.css') }}" rel="stylesheet">
  <!-- bootstrap core css -->
  <link href="{{ url_for('static', path='./css/bootstrap.css') }}" rel="stylesheet">
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;400&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <!-- <link href="{{ url_for('static', path='./css/style.css') }}" rel="stylesheet"> -->
  <!-- responsive style -->
  <link href="{{ url_for('static', path='./css/responsive.css') }}" rel="stylesheet">
  <!-- fabicon -->
  <link rel="shortcut icon" href="{{ url_for('static', path='./image/f4.ico') }}" type="image/x-icon">
</head>


<body>
  <!-- header section starts -->
  <header class="header_section">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg custom_nav-container">
        <a class="navbar-brand" href="{{ url_for('read_root') }}">
          <span>
            F4  <!-- 좌측 상단 -->
          </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('read_root') }}">Home
                  <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="#about"> About </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#how"> How </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#who"> Who </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!-- end header section -->

  <div class="hero_area">
    <!-- slider section starts -->
    <section class=" slider_section position-relative">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <!-- 1번째 슬라이드 indexer -->
          <div class="carousel-item active">
            <div class="container">
              <div class="box">
                <div class="detail-box">
                  <h1>
                    어떤 약을 드시나요?
                  </h1>
                  <h2>
                    약품의 성분과 조합을 알려드려요
                  </h2>
                  <div id="link-btn">
                    <div class="btn-box">
                      <a href="{{ url_for('drag_and_drop_detect') }}">
                        사진 업로드
                      </a>
                    </div>
                    <div class="btn-box">
                      <a href="{{ url_for('camera') }}">
                        사진 촬영
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>


  <!-- 'what we made' section starts -->
  <section class="how_section layout_padding">
    <div class="heading_container">
      <h2 id="about">
        What we made ?
      </h2>
    </div>
    <div class="how_container">
      <!-- 기능 1 -->
      <div class="box">
        <div class="detail-box">
          <h4>
            먹지 않은 약이 집안에 쌓여 있나요?
          </h4>
          <p>
            집안 식구들 약품이 여기저기 섞여 있어요!<br>
            1년 전에 처방받은 감기약이 지금도 있어요!
          </p>
        </div>
        <div class="img-box">
          <div class="img1">
            <img id="pills" src="{{ url_for('static', path='./image/pills.png') }}" alt="알약1">
          </div>
          <div class="img2">
            <img id="pills" src="{{ url_for('static', path='./image/pills2.png') }}" alt="알약2">
          </div>
          <div class="img3">
            <img id="pills" src="{{ url_for('static', path='./image/pills3.png') }}" alt="알약3">
          </div>
        </div>
      </div>

      <!-- 기능 2 -->
      <div class="box">
        <div class="detail-box">
          <h4>
            병용 금기 약물 조합이 궁금하신가요?
          </h4>
          <p>
            집에 있는 약들을 같이 복용해도 되는지 확인해드려요!<br>
            검색한 약과 같이 먹으면 안 되는 약품들도 알려드려요!
          </p>
        </div>
        <div class="img-box">
          <div class="img-box">
            <div class="img2">
              <img id="banned" src="{{ url_for('static', path='./image/no-pills.png') }}" alt="병용금기" width="190px" height="190px">
            </div>
          </div>
        </div> 
      </div>

      <!-- 기능 3 -->
      <div class="box">
        <div class="detail-box">
          <h4>
            약품 상세정보를 찾기 어려우신가요?
          </h4>
          <p>
            약품의 올바른 복용방법을 알려드려요!<br>
            약품의 성분과 특성, 효능을 검색해드려요!
          </p>
        </div>
        <div class="img-box">
          <div class="img-box">
            <div class="img1">
              <img id="pills" src="{{ url_for('static', path='./image/mediinfo.png') }}" alt="약물정보" width="190px" height="190px">
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 텍스트 -->
    <h2 id="text">" 직접 촬영한 약품 사진으로 위 궁금증들을 모두 해결할 수 있습니다! "</h2>

    <div class="picture_container">
      <!-- 화살표 -->
      <div class="centered-img">
        <img src="{{ url_for('static', path='./image/down-arrow.png') }}" alt="사진 찍으러 가기" width="150" height="150">
      </div>
    </div>
    <div>
      <div class="btn-box">
        <a class="bbtn2" href="{{ url_for('drag_and_drop_detect') }}">  <!-- 링크 추가 -->
          사진 업로드
        </a>
      </div>
      <div class="btn-box">
        <a class="bbtn2" href="{{ url_for('camera') }}">  <!-- 촬영 링크 삽입 -->
          사진 촬영
        </a>
      </div>
    </div>
  </section>
  <!-- end what we made section -->


  <!-- '이용 방법' section starts -->
  <section class="about_section layout_padding-bottom">
    <div class="heading_container">
      <h2 id="how">
        이용 방법
      </h2>
    </div>
    <div class="about_container">
      <div class="detail-box">
        <div>
          <h3>1) 업로드할 때</h3>
        </div>
      </div>
      <div class="box_container">
        <div class="box">
          <div class="img-box1">
            <div class="img-box2">
              <div class="img1">
                <img id="pills" src="{{ url_for('static', path='./image/mediinfo.png') }}" alt="약물정보" width="190px" height="190px">
              </div>
            </div>
          </div>
          <div class="exp">
            <p>설명1</p>
          </div>
        </div>
        <div class="box">
          <div class="img-box1">
            <div class="img-box2">
              <div class="img1">
                <img id="pills" src="{{ url_for('static', path='./image/mediinfo.png') }}"alt="약물정보" width="190px" height="190px">
              </div>
            </div>
          </div>
          <div class="exp">
            <p>설명2</p>
          </div>
        </div>
        <div class="box">
          <div class="img-box1">
            <div class="img-box2">
              <div class="img1">
                <img id="pills" src="{{ url_for('static', path='./image/mediinfo.png') }}" alt="약물정보" width="190px" height="190px">
              </div>
            </div>
          </div>
          <div class="exp">
            <p>설명3</p>
          </div>
        </div>
      </div>
      <div class="detail-box">
        <div>
          <h3>2) 직접 촬영할 때</h3>
        </div>
      </div>
      <div class="box_container">
        <div class="box">
          <div class="img-box1">
            <div class="img-box2">
              <div class="img1">
                <img id="pills" src="{{ url_for('static', path='./image/mediinfo.png') }}" alt="약물정보" width="190px" height="190px">
              </div>
            </div>
          </div>
          <div class="exp">
            <p>설명1</p>
          </div>
        </div>
        <div class="box">
          <div class="img-box1">
            <div class="img-box2">
              <div class="img1">
                <img id="pills"src="{{ url_for('static', path='./image/mediinfo.png') }}" alt="약물정보" width="190px" height="190px">
              </div>
            </div>
          </div>
          <div class="exp">
            <p>설명2</p>
          </div>
        </div>
        <div class="box">
          <div class="img-box1">
            <div class="img-box2">
              <div class="img1">
                <img id="pills" src="{{ url_for('static', path='./image/mediinfo.png') }}" alt="약물정보" width="190px" height="190px">
              </div>
            </div>
          </div>
          <div class="exp">
            <p>설명3</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end how it works section -->


  <!-- '만든 사람들' section starts -->
  <section class="client_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container">
        <h2 id="who">
          만든 사람들
        </h2>
      </div>
      <div class="box">
        <div class="b-1">
          <div class="client_id">
            <div class="img-box">
              <img src="{{ url_for('static', path='./image/client-1.jpg') }}" alt="박기영">
            </div>
            <div class="name">
              <h5>
                박기영
              </h5>
              <h6>
                조장
              </h6>
            </div>
          </div>
        </div>
        <div class="client_detail">
          <p>
            세부 역할 ~~~
          </p>
        </div>
      </div>
      <div class="box">
        <div class="b-1">
          <div class="client_id">
            <div class="img-box">
              <img src="{{ url_for('static', path='./image/client-1.jpg') }}" alt="강호정">
            </div>
            <div class="name">
              <h5>
                강호정
              </h5>
              <h6>
                blabla
              </h6>
            </div>
          </div>
        </div>
        <div class="client_detail">
          <p>
            세부 역할 ~~~
          </p>
        </div>
      </div>
      <div class="box">
        <div class="b-1">
          <div class="client_id">
            <div class="img-box">
              <img src="{{ url_for('static', path='./image/client-1.jpg') }}" alt="서덕원">
            </div>
            <div class="name">
              <h5>
                서덕원
              </h5>
              <h6>
                blabla
              </h6>
            </div>
          </div>
        </div>
        <div class="client_detail">
          <p>
            세부 역할 ~~~
          </p>
        </div>
      </div>
      <div class="box">
        <div class="client_id">
          <div class="img-box">
            <img src="{{ url_for('static', path='./image/client-1.jpg') }}" alt="유준선">
          </div>
          <div class="name">
            <h5>
              유준선
            </h5>
            <h6>
              blabla
            </h6>
          </div>
        </div>
        <div class="client_detail">
          <p>
            세부 역할 ~~~
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- end who made it section -->


  <!-- info section starts -->
  <section class="info_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info_contact">
            <div class="info_logo">
              <a href="main.html">
                <span>
                  F4
                </span>
              </a>
            </div>
            <h5>
              Contact Us
            </h5>
            <div>
              <div class="img-box">
                <img src="{{ url_for('static', path='./image/github.png') }}" width="20px" alt="github" />
              </div>
              <a href="https://github.com/BrianPark314/final_project">
                https://github.com/BrianPark314/final_project
              </a>
            </div>
            <div>
              <div class="img-box">
                <img src="{{ url_for('static', path='./image/envelope.png') }}" width="20px" alt="e-mail" />
              </div>
              <p>
                everfrost314@gmail.com
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">  <!-- 여백 생성 -->
        </div>
        <div class="col-md-3">
          <div class="info_links">
            <h5>
              기술 스택
            </h5>
            <ul>
              <li>
                <a href="">
                  There are many
                </a>
              </li>
              <li>
                <a href="">
                  suffered
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_links">
            <h5>
              활용 데이터
            </h5>
            <ul>
              <li>
                <a href="https://www.aihub.or.kr/aihubdata/data/view.do?currMenu=115&topMenu=100&aihubDataSe=realm&dataSetSn=576">
                  AI Hub 경구약제 이미지 데이터
                </a>
                <p>한국의약품안전관리원 - 병용금기 성분리스트_230301.xlsx</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end info section -->

  
  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      &copy; 2019 All Rights Reserved By
      <a href="https://html.design/">Free Html Templates</a>
    </p>
  </section>

  <!-- footer section -->
  <script type="text/javascript" src="{{ url_for('static', path='./js/jquery-3.4.1.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', path='./js/bootstrap.js') }}"></script>
  <!-- end fotter section -->

  <!-- owl carousel script -->
  <script type="text/javascript">
    $(".owl-carousel").owlCarousel({
      loop: true,
      margin: 0,
      navText: [],
      center: true,
      autoplay: true,
      autoplayHoverPause: true,
      responsive: {
        0: {
          items: 1
        },
        1000: {
          items: 3
        }
      }
    });
  </script>
  
  <!-- end owl carousel script -->

</body>

</html>