<!DOCTYPE html>
<html>
<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <meta http-equiv="Cache-Control" content="no-chche,no-store,must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">


  <title>F4 - 의약품 정보검색</title>

  <!-- slider stylesheet -->
  <!-- <link href="{{ url_for('static', path='./css/style.css') }}" rel="stylesheet"> -->

  <!-- bootstrap core css -->
  <link href="{{ url_for('static', path='./css/bootstrap.css') }}" rel="stylesheet">

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;400&display=swap" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', path='./css/style.css') }}" rel="stylesheet">

  <!-- responsive style -->
  <link href="{{ url_for('static', path='./css/responsive.css') }}" rel="stylesheet">

  <!-- fabicon -->
  <link rel="shortcut icon" href="{{ url_for('static', path='./images/f4.ico') }}" type="images/x-icon">
</head>

<body>
  <!-- header section starts -->
  <header class="header_section">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg custom_nav-container">
        <a class="navbar-brand" href="{{ url_for('read_root') }}">
          <span>
            F4  <!-- 좌측 상단 -->
          </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('read_root') }}">Home
                  <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="#about"> About </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#how"> How </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#who"> Who </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!-- end header section -->

  <div class="hero_area">
    <!-- slider section starts -->
    <section class=" slider_section position-relative">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <!-- 1번째 슬라이드 indexer -->
          <div class="carousel-item active">
            <div class="container">
              <div class="box">
                <div class="detail-box">
                  <h1>
                    어떤 약을 드시나요?
                  </h1>
                  <h2>
                    약품의 성분과 조합을 알려드려요
                  </h2>
                  <div id="link-btn">
                    <div class="btn-box">
                      <a id="main_upload" href="{{ url_for('drag_and_drop_detect') }}">
                        사진 업로드
                      </a>
                    </div>
                    <div class="btn-box">
                      <a href="{{ url_for('camera') }}">
                        사진 촬영
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>


  <!-- 'what we made' section starts -->
  <section class="how_section layout_padding">
    <div class="heading_container">
      <h2 id="about">
        딥러닝 기반 경구약제 이미지 인식 정보 제공 서비스
      </h2>
    </div>
    <div class="how_container">
      <!-- 기능 1 -->
      <div class="box">
        <div class="detail-box">
          <h4>
            먹지 않은 약이 집안에 쌓여 있나요?
          </h4>
          <p>
            집안 식구들 약품이 여기저기 섞여 있어요!<br>
            1년 전에 처방받은 감기약이 지금도 있어요!
          </p>
        </div>
        <div class="img-box">
          <div class="img1">
            <img id="pills" src="{{ url_for('static', path='./images/pills.png') }}" alt="알약1">
          </div>
          <div class="img2">
            <img id="pills" src="{{ url_for('static', path='./images/pills2.png') }}" alt="알약2">
          </div>
          <div class="img3">
            <img id="pills" src="{{ url_for('static', path='./images/pills3.png') }}" alt="알약3">
          </div>
        </div>
      </div>

      <!-- 기능 2 -->
      <div class="box">
        <div class="detail-box">
          <h4>
            병용 금기 약물 조합이 궁금하신가요?
          </h4>
          <p>
            집에 있는 약들을 같이 복용해도 되는지 확인해드려요!<br>
            검색한 약과 같이 먹으면 안 되는 약품들도 알려드려요!
          </p>
        </div>
        <div class="img-box">
          <div class="img-box">
            <div class="img2">
              <img id="banned" src="{{ url_for('static', path='./images/no-pills.png') }}" alt="병용금기" width="190px" height="190px">
            </div>
          </div>
        </div> 
      </div>

      <!-- 기능 3 -->
      <div class="box">
        <div class="detail-box">
          <h4>
            약품 상세정보를 찾기 어려우신가요?
          </h4>
          <p>
            약품의 올바른 복용방법을 알려드려요!<br>
            약품의 성분과 특성, 효능을 검색해드려요!
          </p>
        </div>
        <div class="img-box">
          <div class="img-box">
            <div class="img1">
              <img id="pills" src="{{ url_for('static', path='./images/mediinfo.png') }}" alt="약물정보" width="190px" height="190px">
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 텍스트 -->
    <h2 id="text">" 직접 촬영한 약품 사진으로 위 궁금증들을 모두 해결할 수 있습니다! "</h2>

    <div class="picture_container">
      <!-- 화살표 -->
      <div class="centered-img">
        <img src="{{ url_for('static', path='./images/down-arrow.png') }}" alt="사진 찍으러 가기" width="150" height="150">
      </div>
    </div>
    <div>
      <div class="btn-box">
        <a class="bbtn2" href="{{ url_for('drag_and_drop_detect') }}">  <!-- 링크 추가 -->
          사진 업로드
        </a>
      </div>
      <div class="btn-box">
        <a class="bbtn2" href="{{ url_for('camera') }}">  <!-- 촬영 링크 삽입 -->
          사진 촬영
        </a>
      </div>
    </div>
  </section>
  <!-- end what we made section -->


  <!-- '이용 방법' section starts -->
   <!-- slider section -->
  <!-- <section class=" slider_section position-relative">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="box">
              <div class="row">
                <div class="detail-box">
                  <div id='nav-immg'>
                    <h2>
                      1. Upload Images의 '파일 선택' 버튼을 누른 후<br>업로드할 사진을 개인 PC 환경에서 선택합니다
                    </h2>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="img-box">
                    <img src="{{ url_for('static', path='./images/upload1.png') }}" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="box">
              <div class="row">
                <div class="detail-box">
                  <div id='nav-immg'>
                    <h2>
                      YOLO Model의 최적 모형(best)이 선택된 것을 확인하고<br>파란색 결과 보기 버튼을 클릭합니다.
                    </h2>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="img-box">
                    <img src="{{ url_for('static', path='./images/upload2.png') }}" alt="" width="50px" height="50px"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="box">
              <div class="row">
                <div class="detail-box">
                  <div id='nav-immg'>
                    <h2>
                      결과를 확인합니다.
                    </h2>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="img-box">
                    <img src="{{ url_for('static', path='./images/upload3.png') }}" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- end slider section -->


  <section class="about_section layout_padding-bottom">
    <div class="heading_container">
      <h2 id="how">
        이용 방법
      </h2>
    </div>
    <div class="about_container">
      <div class="detail-box">
        <div>
          <h3>1) 업로드할 때</h3>
        </div>
      </div>
      <div class="box_container">
        <div class="box">
          <div class="img-upload">
            <div class="img-box2">
              <div class="img1" >
                <img id="pills" src="{{ url_for('static', path='./images/upload1.png') }}" alt="업로드1" width="238px" height="140px">
              </div>
            </div>
          </div>
          <div class="exp">
            <p>1. Upload Images의 '파일 선택' 버튼을 누른 후<br>업로드할 사진을 개인 PC 환경에서 선택합니다.</p>
          </div>
        </div>
        <div class="box">
          <div class="img-upload2">
            <div class="img-box2">
              <div class="img1">
                <img id="pills" src="{{ url_for('static', path='./images/upload2.png') }}"alt="업로드2" width="140px" height="140px">
              </div>
            </div>
          </div>
          <div class="exp">
            <p>2. YOLO Model의 최적 모형(best)이 선택된 것을 확인하고<br>파란색 결과 보기 버튼을 클릭합니다.</p>
          </div>
        </div>
        <div class="box">
          <div class="img-upload3">
            <div class="img-box2">
              <div class="img1">
                <img id="pills" src="{{ url_for('static', path='./images/upload3.png') }}" alt="업로드3" width="350px" height="140px">
              </div>
            </div>
          </div>
          <div class="exp">
            <p>3. 결과를 확인합니다.</p>
          </div>
        </div>
      </div>
      <div class="detail-box">
        <div>
          <h3>2) 직접 촬영할 때</h3>
        </div>
      </div>
      <div class="box_container">
        <div class="box">
          <div class="img-result1">
            <div class="img-box2">
              <div class="img1">
                <img id="pills" src="{{ url_for('static', path='./images/camera.png') }}" alt="촬영1" width="230px" height="140px">
              </div>
            </div>
          </div>
          <div class="exp">
            <p>1. 카메라가 켜지면 약품의 글씨가 쓰인 부분이 <br>잘 보이도록 한 뒤 '사진 찍기' 버튼을 클릭합니다.</p>
          </div>
        </div>
        <div class="box">
          <div class="img-result2">
            <div class="img-box2">
              <div class="img1">
                <img id="pills"src="{{ url_for('static', path='./images/camera2.png') }}" alt="촬영2" width="340px" height="140px">
              </div>
            </div>
          </div>
          <div class="exp">
            <p>2. 우측 화면에 찍힌 사진을 확인하고 '사진 전송' 버튼을 클릭합니다.<br>다시 찍고 싶으면 '사진 찍기' 버튼을 다시 클릭합니다.</p>
          </div>
        </div>
        <div class="box">
          <div class="img-result3">
            <div class="img-box2">
              <div class="img1">
                <img id="pills" src="{{ url_for('static', path='./images/upload3.png') }}" alt="촬영3" width="350px" height="140px">
              </div>
            </div>
          </div>
          <div class="exp">
            <p>3. 결과를 확인합니다.</p>
          </div>
        </div>
      </div>
    </div>
  </section> 
  <!-- end how it works section -->


  <!-- '만든 사람들' section starts -->
  <section class="client_section layout_padding-bottom">
    <div class="heading_container">
      <h2 id="who">
          만든 사람들
      </h2>
    </div>

    <div class="boxxxxx">
      <div class="boxx">
        <div class="img-box1">
          <div class="img-box2">
            <h5>
              박기영(조장)
            </h5>
            <div class="img1">
              <img id="nname" src="{{ url_for('static', path='./images/park.jpeg') }}" alt="박기영" , width="180px" height="180px">
            </div>
          </div>
        </div>
        <div class="pname">
          <p>- 개발 및 기획 총괄</p><br>
          <p>- 데이터 파이프라인 구축</p><br>
          <p>- 백엔드(main)</p>
        </div>
      </div>
      <div class="boxx">
        <div class="img-box1">
          <div class="img-box2">
            <h5>
              강호정
            </h5>
            <div class="img1">
              <img id="nname" src="{{ url_for('static', path='./images/client-1.jpg') }}" alt="박기영">
            </div>
          </div>
        </div>
        <div class="pname">
          <p>- 이미지 전처리(sub)</p><br>
          <p>- 메인 및 외부 데이터 전처리</p><br>
          <p>- 백엔드(sub) , 프론트앤드(sub)</p>
        </div>
      </div>
      <div class="boxx">
        <div class="img-box1">
          <div class="img-box2">
            <h5>
              서덕원
            </h5>
            <div class="img1">
              <img id="nname" src="{{ url_for('static', path='./images/client-1.jpg') }}" alt="박기영">
            </div>
          </div>
        </div>
        <div class="pname">
          <p>- 모델 학습</p><br>
          <p>- 모델 엔지니어링</p><br>
          <p>- 이미지 전처리(main)</p>

        </div>
      </div>
      <div class="boxx">
        <div class="img-box1">
          <div class="img-box2">
            <h5>
              유준선
            </h5>
            <div class="img1">
              <img id="nname" src="{{ url_for('static', path='./images/client-1.jpg') }}" alt="박기영">
            </div>
          </div>
        </div>
        <div class="pname">
          <p>- 프론트엔드</p><br>
          <p>- 데이터 전처리</p><br>
          <p>- 자료 조사</p>
        </div>
      </div>
    </div>
  </section>


  <!-- end who made it section -->


    <!-- <div class="boxxxxx">
      <div class="b-1">
        <div class="client_id">
          <div class="img-box">
            <img id='nname' src="{{ url_for('static', path='./images/client-1.jpg') }}" alt="박기영">
          </div>
          <div class="name">
            <h5>
              박기영(조장)
            </h5>
          </div>
        </div>
      </div>
      <div class="b-1">
        <div class="client_id">
          <div class="img-box">
            <img id="nname" src="{{ url_for('static', path='./images/client-1.jpg') }}" alt="강호정">
          </div>
          <div class="name">
            <h5>
              강호정
            </h5>
          </div>
        </div>
      </div>
      <div class="b-1">
        <div class="client_id">
          <div class="img-box">
            <img id='nname' src="{{ url_for('static', path='./images/client-1.jpg') }}" alt="서덕원">
          </div>
          <div class="name">
            <h5>
              서덕원
            </h5>
          </div>
        </div>
      </div>
      <div class="b-1">
        <div class="client_id">
          <div class="img-box">
            <img id='nname' src="{{ url_for('static', path='./images/client-1.jpg') }}" alt="유준선">
          </div>
          <div class="name">
            <h5>
              유준선
            </h5>
          </div>
        </div>
      </div>
    </div>



    <div class = 'role'>
      <div class="client_detail">
          <p>- 개발 및 기획 총괄</p><br>
          <p>- 데이터 파이프라인 구축</p><br>
          <p>- 백엔드(main)</p>
      </div>
        
      <div class="client_detail">
        <p>- 이미지 전처리(sub)</p><br>
        <p>- 메인 및 외부 데이터 전처리</p><br>
        <p>- 백엔드(sub)</p>
      </div>
        
      <div class="client_detail">
        <p>- 모델 엔지니어링</p><br>
        <p>- 이미지 전처리(main)</p>
      </div>
      
      <div class="client_detail">
        <p>- 프론트엔드</p><br>
        <p>- 데이터 전처리</p>
      </div>
    </div> -->
  

















  <!-- info section starts -->
  <section class="info_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info_contact">
            <div class="info_logo">
              <a href="main.html">
                <span>
                  F4
                </span>
              </a>
            </div>
            <h5>
              Contact Us
            </h5>
            <div>
              <div class="img-box">
                <img src="{{ url_for('static', path='./images/github.png') }}" width="20px" alt="github" />
              </div>
              <a href="https://github.com/BrianPark314/final_project">
                https://github.com/BrianPark314/final_project
              </a>
            </div>
            <div>
              <div class="img-box">
                <img src="{{ url_for('static', path='./images/envelope.png') }}" width="20px" alt="e-mail" />
              </div>
              <p>
                everfrost314@gmail.com
              </p>
            </div>
          </div>
        </div>
        <div class="col-md">  <!-- 여백 생성 -->
        </div>
        <div class="col-md-3">
          <div class="info_links">
            <h5>
              기술 스택
            </h5>
            <ul>
              <li>
                <a href="">
                  python
                </a>
              </li>
              <li>
                <a href="">
                  html,css,javascripts
                </a>
              </li>
              <li>
                <a href="">
                  opencv , pytorch
                </a>
              </li>
              <li>
                <a href="">
                  yolov5
                </a>
              </li>
              <li>
                <a href="">
                  SQLite
                </a>
              </li>
              <li>
                <a href="">
                  FastAPI
                </a>
              </li>
              <li>
                <a href="">
                  Docker
                </a>
              </li>
              <li>
                <a href="">
                  Bash
                </a>
              </li>
              <li>
                <a href="">
                  colab
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_links">
            <h5>
              활용 데이터
            </h5>
            <ul>
              <li>
                <a href="https://www.aihub.or.kr/aihubdata/data/view.do?currMenu=115&topMenu=100&aihubDataSe=realm&dataSetSn=576">
                  AI Hub 경구약제 이미지 데이터
                </a>
                <p>한국의약품안전관리원 - 병용금기 성분리스트</p>
                <p>한국의약품안전관리원 - 병용주의 성분리스트</p>
                <p>식품의약품 안전나라 - e약은요</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end info section -->

  
  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      &copy; 2019 All Rights Reserved By
      <a href="https://html.design/">Free Html Templates</a>
    </p>
  </section>

  <!-- footer section -->
  <script type="text/javascript" src="{{ url_for('static', path='./js/jquery-3.4.1.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', path='./js/bootstrap.js') }}"></script>
  <!-- end fotter section -->

  <!-- owl carousel script -->
  <script type="text/javascript">
    $(".owl-carousel").owlCarousel({
      loop: true,
      margin: 0,
      navText: [],
      center: true,
      autoplay: true,
      autoplayHoverPause: true,
      responsive: {
        0: {
          items: 1
        },
        1000: {
          items: 3
        }
      }
    });
  </script>
  
  <!-- end owl carousel script -->

</body>

</html>