html,
body {
  margin: 0px;
  padding: 0px;
}

/*
  Style the element with id="camera", "camera-view", "camera-device", "photo-display"
  */

#camera, #camera-view, #camera-device, #photo-display {
  position: relative;
  object-fit: contain;
  height: 100%;
  width: 100;
}

#canvas {
  display: none;
}

/*
  Style the element with id="take-photo-button"
  */
/* #take-photo-button {
  position: fixed;
  bottom: 30px;
} */

/*
  Style the element with id="take-photo-button"
  */
/* #front-camera-button {
  position: fixed;
  bottom: 80px;
} */

#camera-button {
  position: absolute;
  bottom: 30px;
  width: inherit;
}

/*
  Class "photo-taken", which is added to "cameraOutput" in file "app.js"
  */
.photo-taken {
  height: 100px !important;
  /* !important => Overrides the predefined height property (e.g., 100%) */
  width: 100px !important;
  /* !important => Overrides the predefined width property (e.g., 100%) */
}